In [ ]:
# 11.1
from zoo import hours
hours()

In [ ]:
# 11.2
import zoo as menagerie
menagerie.hours()

In [ ]:
import sqlite3

conn = sqlite3.connect('books.db')

c = conn.cursor()

c.execute('''CREATE TABLE books
             (title text, author text, year integer)''')

conn.commit()
conn.close()

In [ ]:
import sqlalchemy, create_engine
conn = sa.create_engine('sqlite://books.db')

tab = select([book_table.c.title]).order_by(book_table.c.title)
with engine.connect() as conn:
    results = conn.execute(tab).fetchall()
    for row in results:
        print(row[0])